header{
  text-align: center;
  border: 1px solid transparent;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  font-size: 17px;  
  background-color: transparent;
}